:root {
  --highlight-duration: 400ms;
}

html,
body {
  min-height: 100%;
}

h1 {
  font-family: "Amatic SC", cursive;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(#2a363b, #99b898);
  color: white;
  font-family: "Abel", sans-serif;
}

body > header > h1 {
  text-align: center;
}

#holder + p {
  background-color: rgba(255, 51, 153, 0.8);
  margin-bottom: 0;
}

p {
  text-align: justify;
  padding: 0.75em 1em;
  font-size: 1.5em;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 1.5em 1.5em;
}

#explanation {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, .7);
  overflow-x: hidden;
}

#explanation > * {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 200ms ease-out;
}

#explanation.invisible > * {
  opacity: 0;
  transform: translate3d(-2rem, 0, 0);
}

#explanation > *:nth-child(2) {
  transition-delay: 30ms;
}

#explanation > *:nth-child(4) {
  transition-delay: 60ms;
}

.more-info {
  font-size: 100%;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
}

@media (max-width: 640px) {
  #container {
    margin: 1.5em 0;
  }

  #holder + p {
    order: 4;
  }

  #explanation {
    order: 3;
    overflow-y: hidden;
  }

  footer {
    order: 5;
  }

  #explanation > * {
    transition-duration: 100ms;
  }

  #explanation.invisible > * {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }

}

@media (min-width: 1000px) {
  h1 {
    font-size: 4em;
  }

  #container {
    display: grid;
    grid-template-areas:
      "canvas meta"
      "canvas info"
      "canvas footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1em;
    align-items: flex-start;
  }

  #holder {
    grid-area: canvas;
  }

  #holder + p {
    grid-area: meta;
  }

  #holder + #explanation {
    grid-area: info;
  }

  #explanation + footer {
    grid-area: footer;
  }
}

#holder {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#canvas-container {
  position: relative;
}

#buttons-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-areas:
    "top top top"
    "bottom-left-1 mid bottom-right-1"
    "bottom-left-2 mid bottom-right-2"
    "bottom-left-3 mid bottom-right-3"
    "bottom-left-4 mid bottom-right-4"
    "bottom-left-5 mid bottom-right-5"
    "bottom-left-6 mid bottom-right-6";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr auto auto auto auto auto auto;
  grid-row-gap: 0.25em;
  padding: 2em 1em;
}

@media (max-width: 640px) {
  #buttons-container {
    font-size: 0.9em;
  }
}

@media (max-width: 400px) {
  #buttons-container {
    font-size: 0.8em;
  }
}

@media (max-width: 340px) {
  #buttons-container {
    font-size: 0.7em;
  }
}

canvas {
  overflow-x: hidden;
  border: 2px solid;
  border-radius: 10px;
}

.matrix-value {
  border: none;
  border-radius: 3px;
  text-align: center;
  color: currentColor;
  text-align: center;
}

.mat {
  text-align: center;
  display: grid;
  grid: repeat(4, 1.5em) / auto-flow 1.5em;
  grid-gap: 0.15em;
  justify-content: center;
  font-size: 0.75em;
  position: relative;
  border-left: var(--border-width) solid currentColor;
  border-right: var(--border-width) solid currentColor;
  --border-width: 4px;
  --horizontal-border-percentage: 15%;
}

.mat::before,
.mat::after {
  content: "";
  position: absolute;
  height: var(--border-width);
  width: calc(100% + 2 * var(--border-width));
  left: calc(-1 * var(--border-width));
  background-image: linear-gradient(
    to right,
    currentColor 0%,
    currentColor var(--horizontal-border-percentage),
    transparent var(--horizontal-border-percentage),
    transparent calc(100% - var(--horizontal-border-percentage)),
    currentColor calc(100% - var(--horizontal-border-percentage))
  );
}

.mat::before {
  top: calc(-1 * var(--border-width));
}

.mat::after {
  bottom: calc(-1 * var(--border-width));
}

#matrices {
  display: grid;
  text-align: center;
  grid: auto 1fr auto / repeat(3, 1fr);
  grid-gap: 0.25em;
  font-size: 2em;
}

@media (max-width: 524px) {
  #matrices {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  #matrices {
    font-size: 1em;
  }
}

#matrices.single-matrix {
  grid: auto 1fr auto / 1fr;
}

#matrices .invisible {
  display: none;
}

#operation-params {
  grid-column: 1 / span 3;
  text-align: left;
  margin-top: 1em;
}

#matrices.single-matrix #operation-params {
  grid-column: 1;
}

.matrix-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.parameter {
  box-sizing: border-box;
  width: 2em;
  border-radius: 3px;
  border-width: 0;
  text-align: center;
}

.matrix-value,
.parameter {
  transition-property: transform, outline, z-index;
  transition-timing-function: ease-out;
  transition-duration: var(--highlight-duration);
  transform: scale(1);
  outline: 0px solid #427343;
  z-index: 0;
  background-color: #aeeab0;
  cursor: col-resize;
}

.matrix-value.just-changed,
.parameter.just-changed {
  transform: scale(1.2);
  outline: 0.2em solid #427343;
  z-index: 10;
}

.matrix-value:disabled {
  background-color: transparent;
}

#matrix-ok:focus,
.close:focus {
  outline: 3px solid yellow;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}

footer {
  background: #cbe0ff;
  color: black;
}
